{%extends "CvBundle:Premier:cv.html.twig"%}


{% block stylesheets %}
    {{parent()}}

   {# <link href="{{ asset('/edmin/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('/edmin/bootstrap/css/bootstrap-responsive.min.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('/edmin/css/theme.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('/edmin/images/icons/css/font-awesome.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('/edmin/css/theme.css') }}" rel="stylesheet" type="text/css"/>
    <link href="{{ asset('http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600') }}" rel="stylesheet" type="text/css"/>#}

{% endblock %}










{% block pagename %}
    L'ensemble des CVs

        <a href="{{ path('cv_addpersform')}}">
            <i class="fa fa-plus-square-o fa-1x" aria-hidden="true"></i>
        </a>

{% endblock %}


{% block breadcrumb %}
    {{parent()}}
    <li class="active"><i class="icon-file-alt"></i> L'ensemble des CVs </li>
{% endblock %}


{% block cvs %}

{% for personne in cvs %}

        <div class="col-lg-4">
            <div class="span3">
                <div class="media user">
                    <a class="media-avatar pull-left" href="#">
                        <img src="/edmin/images/{{personne.getPath()}}">
                    </a>
                    <div class="media-body">
                        <h3 class="media-title">
                            {{personne.getNom()}} {{personne.getPrenom()}}
                        </h3>
                        <p>
                            <small class="muted">{{personne.getAge()}}</small></p>
                        <div class="media-option btn-group shaded-icon">
                            <button class="btn btn-small">


                                        <a href="{{ path('cv_homepage', {'id':personne.getId()})}}">
                                            <i class="icon-envelope">  </i>
                                        </a>


                            </button>

                            <button class="btn btn-small">
                                <a href="{{ path('cv_updatepersform', {'id':personne.getId()})}}">
                                <i class="icon-share-alt"></i>
                                </a>
                            </button>


                            <button class="btn btn-small">
                                <a href="{{ path('cv_deleteperspage', {'id':personne.getId()})}}">

                                    <i class="icon-remove"></i>
                                </a>

                            </button>

                        </div>



                    </div>
                </div>
            </div>
        </div>

   {% else %}

       Il n’y a aucun cv...

{% endfor %}

{% endblock %}


{% block javascripts %}
    {{parent()}}

    {#<script src="{{ asset('/edmin/scripts/jquery-1.9.1.min.js') }}"></script>
    <script src="{{ asset('/edmin/scripts/jquery-ui-1.10.1.custom.min.js') }}"></script>
    <script src="{{ asset('/edmin/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('/edmin/scripts/datatables/jquery.dataTables.js') }}"></script>#}

{% endblock %}
